<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <div class="container">
            <form name"weatherForm" id="weatherForm" method="POST" action="weather">
                <input name="address" id="address"></input> <button name="submit" id="submit" type="submit">Get Forcast</button>
            </form>
            {{#if weatherInfo}}
            <div> 
                <p>Weather for {{weatherInfo.address}}. Last updated {{weatherInfo.lastUpdated}}:</p>
                <p>{{weatherInfo.currentConditions}}, {{weatherInfo.temp}} degrees (feels like {{weatherInfo.apparentTemp}} degrees)</p>
                <p>Wind out of the {{weatherInfo.windDirection}} at {{weatherInfo.windSpeed}} mph</p>
                <p>Chance of rain {{weatherInfo.chanceOfRain}} percent.
                <ul>
                    {{#each weatherInfo.forcasts}}
                    <li>{{this.day}}, {{this.conditions}} {{this.lowTemp}}-{{this.highTemp}} degrees. {{this.chanceOfRain}}% chance of rain.</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            {{#if errorMessage}}
            <div>
                <p>{{errorMessage}}</p>
            </div>
            {{/if}}
        </div>
        {{> footer}}
    </body>
</html>